server {
    listen       80;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
        try_files $uri $uri/ /index.html;
    }

    location /api/sendMsg{
        rewrite ^.+api/?(.*)$ /$1 break;
        include uwsgi_params;
        proxy_pass $chatgpt_service_proxy_pass;
    }

    location /api/block{
        rewrite ^.+api/?(.*)$ /$1 break;
        include uwsgi_params;
        proxy_pass $blockchanin_service_proxy_pass;
    }
}
