.circleanimation,
.circle-animation-front,
.circle-animation-back {
    float: left;
    width: calc(70vh*0.5 - 50px);
    height: calc(70vh*0.5 - 50px);
    min-width: 210px;
    min-height: 210px;
    max-width: 260px;
    max-height: 260px;
    /* min-width: 220px; */
    /* height: 220px; */
    /* background:linear-gradient(90deg, rgb(255 255 255) 0%, rgb(230 230 230) 100%); */
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
    text-align: center;
}

.information {
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    -moz-transform: scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}

.circleanimation:hover .circle-animation-front {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
}

.circleanimation:hover .information {
    -moz-transform: scale(1.02) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(1.02) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1.02) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1.02) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1.02) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    opacity: 1;
}

.color-success .bg,
.color-success {
    background: linear-gradient(180deg, #3dd070, #3dd070);
    color: #fff;
}

.color-danger .bg,
.color-danger {
    background: linear-gradient(180deg, #ff3948, #ff3948);
}