h3,.h3 {
	font-size:1.5em;
	line-height:1.5em;
	margin:15px 0;
}
h4,.h4 {
	font-size:1.3em;
	line-height:1.55em;
}
h5,.h5 {
	font-size:.9em;
	line-height:1em;
	font-weight:300;
	margin:15px 0;
}
h6,.h6 {
	font-size:1em;
	text-transform:uppercase;
	font-weight:700;
	color:#3C4857;
}
.section-pricing {
	z-index:3;
	position:relative;
}
.section-gray {
	background:#E5E5E5;
}
[class*=pricing-] {
	padding:120px 0;
}
.block {
	list-style:none;
	display:block;
	text-align:center;
	width:100%;
	margin:0;
	padding:0;
}
.block i {
	padding-right:5px;
}
.block >li {
	width:300px;
	height:300px;
	display:inline-block;
	margin:12px;
}
.circle-animation-front,.circle-animation-back {
	float:left;
	width:300px;
	height:300px;
	background:#fff;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	-webkit-box-shadow:0 0 3px 0 #e3dfd6;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
	box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
}
.color-info .bg,.color-info .choose span {
	background:linear-gradient(60deg,#26c6da,#0097a7);
}
.color-info .title,.color-info .price,.color-info .icon {
	color:#26c6da;
}
.color-warning .bg,.color-warning .choose span {
	background:linear-gradient(60deg,#ffa726,#f57c00);
}
.color-warning .title,.color-warning .price,.color-warning .icon {
	color:#ffac34;
}
.color-success .title,.color-success .price,.color-success .icon {
	color:#6ec071;
}
.color-danger .bg,.color-danger .choose span {
	background:linear-gradient(60deg,#ef5350,#d32f2f);
}
.color-danger .title,.color-danger .price,.color-danger .icon {
	color:#f6594e;
}
.circle-animation-front >div {
	text-align:center;
}
.circle-animation-front span.icon i {
	position:relative;
	font-size:60px;
	padding:0;
}
.title {
	font-size:1em;
	/* text-transform:uppercase; */
	font-weight:700;
	text-align:center;
	padding:40px 0 15px;
}
.price span {
	vertical-align:top;
	line-height:0.7;
}
.price span.currency {
	position:relative;
	top:25px;
	font-size:26px;
	font-weight:400;
}
.price .total {
	font-size:3.8em;
	line-height:1.1em;
	font-weight:700;
	font-family:Lato,"Times New Roman",serif;
}
.currency,.end {
	position:relative;
	top:40px;
	font-size:18px;
	font-weight:400;
	font-family:Lato,"Times New Roman",serif;
}
.circle-animation-back .description ul {
	list-style:none;
	max-width:240px;
	margin:10px auto;
	padding:0;
}
.circle-animation-back .description ul li {
	color:#FFF!important;
	text-align:center;
	list-style:none;
	line-height:1.5;
	font-size:15px;
}
.circleanimation {
	text-align:center;
	border-radius:50%;
	position:relative;
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4s ease-in-out;
	-o-transition:all .4s ease-in-out;
	-ms-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
	/* box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
	*/
	cursor:pointer;
}
.information {
	position:absolute;
	border-radius:50%;
	opacity:0;
	-moz-transform:scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform:scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform:scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform:scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform:scale(0) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-backface-visibility:hidden;
}
.circleanimation:hover .circle-animation-front {
	-moz-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	-o-transform:scale(1.1);
	-ms-transform:scale(1.1);
	transform:scale(1.1);
	opacity:1;
}
.circleanimation:hover .information {
	-moz-transform:scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform:scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform:scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform:scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform:scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	opacity:1;
}
.circle {
	background:#fff;
	text-align:center;
	height:210px;
	width:210px;
	transition:all .5s;
	-moz-transition:all .5s;
	-webkit-transition:all .5s;
	-o-transition:all .5s;
	box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
	padding:20px;
}
.circle h6 {
	margin:15px 0;
	padding:0;
}
.circle span.icon i {
	position:relative;
	font-size:3.8em;
	line-height:1.15em;
	padding:0;
}
.circle span.price-large {
	font-size:3.8em;
	line-height:1.15em;
	font-weight:700;
	font-family:Lato,"Times New Roman",serif;
}
.price-dollar {
	position:relative;
	top:-17px;
	font-size:26px;
	font-weight:400;
}
.price-small {
	font-size:18px;
	font-weight:400;
	font-family:Lato,"Times New Roman",serif;
}
.c1:hover {
	background:#39b3d7;
	color:#fff;
}
.c1 .info {
	color:#39b3d7;
}
.c2:hover {
	background-color:#ff9800;
	color:#fff;
}
.c2 .warning {
	color:#ff9800;
}
.c3 .success {
	color:#4caf50;
}
.c4:hover {
	background:#f44336;
	color:#fff;
}
.c4 .danger {
	color:#f44336;
}
.c5:hover {
	background:#fff;
	color:#fff;
}
.circle-info {
	background:linear-gradient(60deg,#26c6da,#0097a7);
	text-align:center;
	height:210px;
	width:210px;
	transition:all .5s;
	-moz-transition:all .5s;
	-webkit-transition:all .5s;
	-o-transition:all .5s;
	box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
	padding:20px;
}
.c32:hover {
	background:linear-gradient(60deg,#26c6da,#0097a7);
	color:#fff;
}
.circle-success {
	background:linear-gradient(60deg,#66bb6a,#388e3c);
	text-align:center;
	height:210px;
	width:210px;
	transition:all .5s;
	-moz-transition:all .5s;
	-webkit-transition:all .5s;
	-o-transition:all .5s;
	box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
	padding:20px;
}
.circle-warning {
	background:linear-gradient(60deg,#ffa726,#f57c00);
	text-align:center;
	height:210px;
	width:210px;
	transition:all .5s;
	-moz-transition:all .5s;
	-webkit-transition:all .5s;
	-o-transition:all .5s;
	box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
	padding:20px;
}
.c34:hover {
	background:linear-gradient(60deg,#ffa726,#f57c00);
	color:#fff;
}
.circle-danger {
	background:linear-gradient(60deg,#ef5350,#d32f2f);
	text-align:center;
	height:210px;
	width:210px;
	transition:all .5s;
	-moz-transition:all .5s;
	-webkit-transition:all .5s;
	-o-transition:all .5s;
	box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12);
	padding:20px;
}
.c35:hover {
	background:linear-gradient(60deg,#ef5350,#d32f2f);
	color:#fff;
}
.btn,.navbar >li >a.btn {
	border:none;
	border-radius:20px;
	position:relative;
	font-size:12px;
	font-weight:400;
	text-transform:uppercase;
	letter-spacing:0;
	will-change:box-shadow,transform;
	transition:box-shadow .2s cubic-bezier(0.4,0,1,1),background-color .2s cubic-bezier(0.4,0,0.2,1);
	margin:0;
	padding:6px 18px;
}
.btn.btn-round {
	border-radius:30px;
}
.btn.btn-danger {
	color:#FFF;
	background-color:#f6594e;
	box-shadow:0 2px 2px 0 rgba(244,67,54,0.14),0 3px 1px -2px rgba(244,67,54,0.2),0 1px 5px 0 rgba(244,67,54,0.12);
	border-color:#f6594e;
}
.btn.btn-danger:focus,.btn.btn-danger:active,.btn.btn-danger:hover {
	box-shadow:0 14px 26px -12px rgba(244,67,54,0.42),0 4px 23px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(244,67,54,0.2);
}
.btn.btn-success {
	color:#FFF;
	background-color:#6ec071;
	box-shadow:0 2px 2px 0 rgba(76,175,80,0.14),0 3px 1px -2px rgba(76,175,80,0.2),0 1px 5px 0 rgba(76,175,80,0.12);
	border-color:#6ec071;
}
.btn.btn-success:focus,.btn.btn-success:active,.btn.btn-success:hover {
	box-shadow:0 14px 26px -12px rgba(76,175,80,0.42),0 4px 23px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(76,175,80,0.2);
}
.btn-info {
	color:#fff;
	background-color:#5bc0de;
	box-shadow:0 2px 2px 0 rgba(0,188,212,0.14),0 3px 1px -2px rgba(0,188,212,0.2),0 1px 5px 0 rgba(0,188,212,0.12);
	border-color:#5bc0de;
}
.btn.btn-info:focus,.btn.btn-info:active,.btn.btn-info:hover {
	background-color:#70c8e2;
	box-shadow:0 2px 2px 0 rgba(0,188,212,0.14),0 3px 1px -2px rgba(0,188,212,0.2),0 1px 5px 0 rgba(0,188,212,0.12);
	color:#fff;
	border-color:#70c8e2;
}
.btn-warning {
	color:#fff;
	background-color:#ffac34;
	box-shadow:0 2px 2px 0 rgba(255,152,0,0.14),0 3px 1px -2px rgba(255,152,0,0.2),0 1px 5px 0 rgba(255,152,0,0.12);
	border-color:#ffac34;
}
.btn.btn-warning:focus,.btn.btn-warning:active,.btn.btn-warning:hover {
	box-shadow:0 14px 26px -12px rgba(255,152,0,0.42),0 4px 23px 0 rgba(0,0,0,0.12),0 8px 10px -5px rgba(255,152,0,0.2);
	background-color:#ffac34;
	color:#fff;
	border-color:#ffac34;
}
.btn.btn-white {
	color:#3C4857;
	background-color:#fff;
	box-shadow:0 2px 2px 0 rgba(153,153,153,0.14),0 3px 1px -2px rgba(153,153,153,0.2),0 1px 5px 0 rgba(153,153,153,0.12);
	border-color:#fff;
}
.btn.btn-white:focus,.btn.btn-white:active,.btn.btn-white:hover {
	box-shadow:0 4px 4px 0 rgba(153,153,153,0.24),0 3px 1px -2px rgba(153,153,153,0.3),0 1px 5px 0 rgba(153,153,153,0.32);
}
.fa {
	font-size:12px;
}
.color-success .bg,.color-success .choose span,.c3:hover,.c33:hover {
	background:linear-gradient(60deg,#3dd070,#64f396);
	color:#fff;
}
.circle-animation-back .title,.circle-animation-back .currency,.circle-animation-back .price span,.circle-animation-back p,.c1:hover .info,.c1:hover p,.c2:hover p,.c2:hover .warning,.c3:hover p,.c3:hover .success,.c4:hover p,.c4:hover .danger,.c5:hover p,.c5 .white,.c5:hover .white,.c5 .price-small,.c5 p,.circle-info p,.c32:hover .info,.circle-success p,.c33:hover .success,.circle-warning p,.c34:hover .warning,.circle-danger p,.c35:hover .danger {
	color:#fff;
}
.img-circle,.img-circle-info,.img-circle-success,.img-circle-warning,.img-circle-danger {
	border-radius:50%;
}
.circle-info h6,.circle-success h6,.circle-warning h6,.circle-danger h6 {
	color:#fff;
	margin:15px 0;
	padding:0;
}
.circle-info span.icon i,.circle-success span.icon i,.circle-warning span.icon i,.circle-danger span.icon i {
	position:relative;
	top:-17px;
	font-size:26px;
	font-weight:400;
	color:#fff;
}
.circle-info span.price-large,.circle-success span.price-large,.circle-warning span.price-large,.circle-danger span.price-large {
	font-size:3.8em;
	line-height:1.15em;
	font-weight:700;
	font-family:Lato,"Times New Roman",serif;
	color:#fff;
}
.circle-info .price-small,.circle-success .price-small,.circle-warning .price-small,.circle-danger .price-small {
	color:#fff;
	font-size:18px;
	font-weight:400;
	font-family:Lato,"Times New Roman",serif;
}
.c32 .info,.c33 .success,.c34 .warning,.c35 .danger {
	color:#FFF;
}
@media only screen and min-width0 and max-width959px {
	.content-wrapper {
	top:0;
}
#center {
	top:0;
	height:auto;
	padding:30px 0;
}
}@media only screen and min-width480px and max-width959px {
	#center {
	left:-239px;
	width:478px;
}
}@media only screen and min-width0px and max-width479px {
	#center {
	left:-118px;
	width:236px;
}
}