.my-container-box-shadow {
    box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 2%),
                0 6.7px 5.3px rgb(0 0 0 / 3%),
                0 12.5px 10px rgb(0 0 0 / 4%),
                0 22.3px 17.9px rgb(0 0 0 / 4%),
                0 41.8px 33.4px rgb(0 0 0 / 5%),
                0 100px 80px rgb(0 0 0 / 7%);
    -webkit-box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 2%),
                0 6.7px 5.3px rgb(0 0 0 / 3%),
                0 12.5px 10px rgb(0 0 0 / 4%),
                0 22.3px 17.9px rgb(0 0 0 / 4%),
                0 41.8px 33.4px rgb(0 0 0 / 5%),
                0 100px 80px rgb(0 0 0 / 7%);
}
.my-container-box-shadow {
    box-shadow: 0 1.1px 3.6px rgb(0 0 0 / 4%)
                0 3px 10px rgb(0 0 0 / 5%),
                0 7.2px 24.1px rgb(0 0 0 / 5%),
                0 24px 80px rgb(0 0 0 / 6%);
    -webkit-box-shadow: 0 1.1px 3.6px rgb(0 0 0 / 4%)
                0 3px 10px rgb(0 0 0 / 5%),
                0 7.2px 24.1px rgb(0 0 0 / 5%),
                0 24px 80px rgb(0 0 0 / 6%);
}
.my-container-border-radius {
    border-radius: 30px;
    -webkit-border-radius: 30px;
}

.my-card-border-radius {
    border-radius: 20px;
    -webkit-border-radius: 20px;
}
.my-card-background {
    background: linear-gradient(90deg, rgb(239, 240, 242) 0%, rgb(227, 227, 227) 100%);
}

.my-button-border-radius {
    border-radius: 24px;
    -webkit-border-radius: 24px;
}

.my-node-border-radius {
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.my-glass {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    /* box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px; */
    /* -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px; */
    /* border-radius: 12px; */
    /* -webkit-border-radius: 12px; */
    /* color: rgba(255, 255, 255, 0.75); */
}

.my-height-100-percent {
    height: 100%;
}

/* animation */
/* 下面我们会解释这些 class 是做什么的 */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}